package {{.PackageName}}
import (
{{- range $key,$value := .Importor_need }}
{{- if $value.IsIndent }}
    {{ $value.Name }} "{{ $value.Path }}"
{{- else }}
    "{{ $value.Path }}"
{{- end }}
{{- end }}
{{- range $index,$value := .Importor_extra }}
{{- if $value.IsIndent }}
    {{ $value.Name }} "{{ $value.Path }}"
{{- else }}
    "{{ $value.Path }}"
{{- end }}
{{- end }}
)


{{- range .Funcs }}
{{- range $index,$value := .Comments}}
{{ $value }}
{{- end }}
func {{.NameFunc}}({{range $index, $param := .In}}{{if $index}}, {{end}}{{.Name}} {{.Type}}{{end}}){{if .Out}}({{range $index, $return := .Out}}{{if $index}}, {{end}}{{.Name}} {{.Type}}{{end}}){{end}} {
{{- if .Out }}
{{- range $index, $return := .Out}}
{{- if .Type_is_pointer }}
{{.Name}} = new({{.Type_elem}})
{{- else }}
var {{.Name}} {{.Type}}
{{- end}}
{{- end}}
{{- end}}
err =  {{.Client}}.Call({{.Server}}, "{{.Module}}.{{.Name}}", {{.CallReqName}}, {{.CallRetName}}, opts...)
return
}
{{- end }}
