package {{.PackageName}}

import (
	"errors"
{{ if or $.IsBsonM $.IsIncM $.IsJsonM $.IsBsonD $.IsIncD }}
	"go.mongodb.org/mongo-driver/bson"
{{- end }}
)
{{- range .StructDatas}}
{{ if $.IsKey}}
// 定义{{.StructName}} 对应字段的key
{{- range .Fields }}
const {{ .StructName}}_{{.Name }} = "{{ .TagValue }}"
{{- end }}
var (
    // {{.StructName}}_All_Keys 定义{{.StructName}} 所有字段的key
    {{.StructName}}_All_Keys = []string{
    {{- range .Fields }}
        {{ .StructName}}_{{.Name }},
    {{- end }}
    }
)
{{- end }}
{{ if $.IsJsonM}}
// Set{{.StructName}} 指定的值,upM
func (this *{{.StructName}}) GenJsonM(keys []string) (bson.M, error) {
    if this == nil {
        return nil, errors.New("receiver is nil")
    }
	json_M := bson.M{}
	for _, key := range keys {
		switch key {
        {{- range .Fields }}
        {{- if ne .JsonTagValue "-" }}
		case "{{.TagValue}}":
		    json_M["{{.JsonTagValue}}"] = this.{{.Name}}
        {{- end }}
        {{- end }}
		}
	}
    return json_M, nil
}
{{- end }}
{{ if $.IsBsonM}}
// Set{{.StructName}} 指定的值,bson.M
func (this *{{.StructName}}) GenBsonM(keys []string) (bson.M, error) {
    if this == nil {
        return nil, errors.New("receiver is nil")
    }
	bm := make(bson.M, len(keys))
	for _, key := range keys {
		switch key {
        {{- range .Fields }}
        {{- if ne .BsonTagValue "-" }}
		case "{{.TagValue}}":
		   bm["{{.BsonTagValue}}"] = this.{{.Name}}
        {{- end }}
        {{- end }}
		}
	}
    return bm, nil
}
{{- end }}
{{ if $.IsIncM}}
// Set{{.StructName}} 指定的值,incM
func (this *{{.StructName}}) GenIncM(keys []string) (bson.M, error) {
    if this == nil {
        return nil, errors.New("receiver is nil")
    }
    {{- if .IsHaveIncKey}}
	bm := make(bson.M, len(keys))
	for _, key := range keys {
		switch key {
        {{- range .Fields }}
        {{- if and .IsInc (ne .BsonTagValue "-") }}
		case "{{.TagValue}}":
		   bm["{{.BsonTagValue}}"] = this.{{.Name}}
        {{- end }}
        {{- end }}
		}
	}
    return bm, nil
    {{- else}}
	return nil, errors.New("key is not has number")
	{{- end }}
}
{{- end }}

{{ if $.IsBsonD}}
// Set{{.StructName}} 指定的值,bson.D
func (this *{{.StructName}}) GenBsonD(keys []string) (bson.D, error) {
    if this == nil {
        return nil, errors.New("receiver is nil")
    }
	bd := make([]bson.E, 0, len(keys))
	for _, key := range keys {
		switch key {
        {{- range .Fields }}
        {{- if ne .BsonTagValue "-" }}
		case "{{.TagValue}}":
           bd = append(bd, bson.E{Key: "{{ .BsonTagValue }}", Value: this.{{.Name}}})
        {{- end }}
        {{- end }}
		}
	}
    return bd, nil
}
{{- end }}
{{ if $.IsIncD}}
// Set{{.StructName}} 指定的值,incD
func (this *{{.StructName}}) GenIncD(keys []string) (bson.D, error) {
    if this == nil {
        return nil, errors.New("receiver is nil")
    }
    {{- if .IsHaveIncKey}}
	bd := make([]bson.E, 0, len(keys))
	for _, key := range keys {
		switch key {
        {{- range .Fields }}
        {{- if and .IsInc (ne .BsonTagValue "-") }}
		case "{{.TagValue}}":
		    bd = append(bd, bson.E{Key: "{{ .BsonTagValue }}", Value: this.{{.Name}}})
        {{- end }}
        {{- end }}
		}
	}
    return bd, nil
    {{- else}}
	return nil, errors.New("key is not has number")
	{{- end }}
}
{{- end }}
{{ if $.IsSet}}
// Set{{.StructName}} 指定的值,需要指定keys
func (this *{{.StructName}}) Set(delta *{{.StructName}}, keys ...string) {
	if delta == nil {
		return
	}
	for _, key := range keys {
		switch key {
        {{- range .Fields }}
		case "{{.TagValue}}":
			this.{{.Name}} = delta.{{.Name}}
         {{- end }}
		}
	}
}
{{- end }}

{{- if $.IsInc}}
// Inc{{.StructName}} 指定的值,需要指定keys
func (this *{{.StructName}}) Inc(delta *{{.StructName}}, keys ...string) {
	if delta == nil {
		return
	}
    {{- if .IsHaveIncKey}}
	for _, key := range keys {
		switch key {
        {{- range .Fields }}
        {{- if .IsInc  }}
		case "{{.TagValue}}":
			this.{{.Name}} += delta.{{.Name}}
        {{- end }}
        {{- end }}
		}
	}
    {{- end}}
}
{{- end }}
{{ if $.IsAdd}}
// Add{{.StructName}} 指定的值,只支持数值类型
func (this *{{.StructName}}) Add(delta *{{.StructName}}) {
	if this==nil || delta == nil {
		return
	}
    {{- if .IsHaveAddKey}}
    {{- range .Fields }}
    {{- if .IsAdd  }}
    {{- if ne .AddFunc ""}}
        this.{{.Name}} = {{.AddFunc}}(this.{{.Name}},delta.{{.Name}})
    {{- else if ne .AddMethod ""}}
        this.{{.Name}}.{{.AddMethod}}(delta.{{.Name}})
    {{- else }}
	    this.{{.Name}} += delta.{{.Name}}
    {{- end}}
    {{- end }}
    {{- end }}
    {{- end}}
}
{{- end }}
{{ if $.IsCopy}}
func (this *{{.StructName}}) Copy(keys ...string) (delta *{{.StructName}}) {
	if this == nil {
		return nil
	}
    delta = &{{.StructName}}{}
    {{- if .IsHaveCopyKey}}
	for _, key := range keys {
		switch key {
        {{- range .Fields }}
        {{- if .IsCopy  }}
		    case "{{.TagValue}}":
                {{- if ne .CopyFunc ""}}
                delta.{{.Name}} = {{.CopyFunc}}(delta.{{.Name}},this.{{.Name}})
                {{- else if ne .CopyMethod ""}}
                delta.{{.Name}}.{{.CopyMethod}}(this.{{.Name}})
                {{- else }}
	            delta.{{.Name}} = this.{{.Name}}
                {{- end}}
            {{- end }}
         {{- end }}
		}
	}
    {{- end}}
	return
}
{{- end}}


{{- end }}
